<div>

  <h1>Beers List</h1>

{{#each beers}}
  <div>
    <img src="{{this.image_url}}" alt="{{this.name}}">
    <h2>{{this.name}}</h2>
    <p>{{this.description}}</p>
    <p>{{this.tagline}}</p>
  </div>
{{/each}}

</div>